{
     "type": "s3",
     "settings": {
       "bucket": "{{ config.bucket.s3 }}",
       "access_key": "{{ config.bucket.access_key }}",
       "secret_key": "{{ config.bucket.access_secret }}"
   }
}